---
import { getCollection } from 'astro:content'
import Layout from '~/layouts/Layout.astro'
import NoImageLayout from '~/components/post-layouts/NoImageLayout.astro'
import HorizontalImageLayout from '~/components/post-layouts/HorizontalImageLayout.astro'
import VerticalImageLayout from '~/components/post-layouts/VerticalImageLayout.astro'
import TableOfContents from '~/components/TableOfContents.astro'
import BackToTop from '~/components/BackToTop.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { data: frontmatter } = post
const { Content, headings, remarkPluginFrontmatter } = await post.render()
const hasImage = frontmatter.heroImage || false
const isVertical = frontmatter.heroImageAspectRatio === '3/4'

const PostLayout = !hasImage ? NoImageLayout : isVertical ? VerticalImageLayout : HorizontalImageLayout
---

<Layout title={frontmatter.title} description={frontmatter.description || frontmatter.title} image={frontmatter.ogImage}>
  <div class="fullPage relative">
    <TableOfContents {headings} />
    <PostLayout {frontmatter} minutesRead={remarkPluginFrontmatter.minutesRead}>
      <Content />
    </PostLayout>
    <BackToTop />
  </div>
</Layout>
