---
import { SITE, SKILLSSHOWCASE_CONFIG, SOCIAL_LINKS } from '~/config.ts'
import { GET } from './api/github.ts'
import { GITHUB_CONFIG, POSTS_CONFIG } from '~/config.ts'
import { padMissingWeeks, postsSort } from '~/lib/utils'
import { getCollection } from 'astro:content'
import Layout from '~/layouts/Layout.astro'
import SectionDivider from '~/components/base/SectionDivider.astro'
import GithubContributions from '~/components/base/GithubContributions.astro'
import SocialLink from '~/components/base/SocialLink.astro'
import List from '~/components/posts/card/List.astro'
import SkillsShowcase from '~/components/base/SkillsShowcase.astro'

const { ENABLED } = GITHUB_CONFIG
const { size, type } = POSTS_CONFIG.homePageConfig
const { SKILLS_ENABLED, SKILLS_DATA } = SKILLSSHOWCASE_CONFIG

let githubFollowerCount = null
let githubGraphqlData: Additional.Github.Week[] = []

if (ENABLED) {
  try {
    const githubInfo = await GET(Astro)
    const githubData = await githubInfo.json()

    // 默认53周，不足53周则填充
    const last53weeks = githubData?.data?.viewer?.contributionsCollection?.contributionCalendar?.weeks.slice(-53)
    const newWeeks = padMissingWeeks(last53weeks, 53)

    githubGraphqlData = newWeeks
    githubFollowerCount = githubData?.data.viewer.followers.totalCount || null
  } catch (error) {
    console.error('Failed to fetch GitHub data:', error)
  }
}

const allPosts = await getCollection('posts')
const posts = postsSort(allPosts).slice(0, size)
---

<Layout title="Readme" description={SITE.description}>
  <div class="relative z-[1]">
    <div class="py-8 pb-10 px-6 sm:px-8">
      <h1 class="flex flex-col gap-2">
        <span class="text-4xl sm:text-5xl tracking-tight"> Litos </span>
        <span class="text-muted-foreground font-light text-xl sm:text-2xl block tracking-wide text-balance">
          A Simple & Modern Blog Theme for Astro
        </span>
      </h1>
      <div class="pro text-muted-foreground text-balance">
        <p>
          Litos is a modern, high-performance blog theme built on Astro and inspired by
          <a href="https://github.com/needim" target="_blank" rel="nofollow noreferrer"> @needim</a>, an excellent developer.
        </p>
        <p>
          Implementing elegant responsive design using Tailwind CSS, Integrating React components to achieve a smooth interactive
          experience, Support switching between light and dark themes and provide smooth transition animations.
        </p>
      </div>
      <div class="mt-6 flex gap-6">
        {
          SOCIAL_LINKS.map((item) => {
            const isGithub = item.name.toLowerCase() === 'github'
            if (isGithub && ENABLED && githubFollowerCount !== null) {
              return (
                <SocialLink href={item.url} icon={item.icon} count={githubFollowerCount} label="followers" aria-label="Follow on Github" />
              )
            }
            return <SocialLink href={item.url} icon={item.icon} aria-label={`Link of ${item.name}`} count={item.count} label="followers" />
          })
        }
      </div>
    </div>
    {
      ENABLED && githubGraphqlData.length > 0 && (
        <>
          <SectionDivider />
          <div class="py-8 pb-10 px-6 max-md:px-6">
            <div class="px-2 max-md:px-0">
              <h2 class="text-2xl sm:text-3xl">Spotlight</h2>
              <p class="text-muted-foreground mb-6 mt-1">Most recent contributions.</p>
            </div>
            <GithubContributions weeks={githubGraphqlData} />
          </div>
        </>
      )
    }
    {
      SKILLS_ENABLED && SKILLS_DATA.length > 0 && (
        <>
          <SectionDivider />
          <div class="py-8 pb-10 px-6 max-md:px-6">
            <div class="px-2 max-md:px-0">
              <h2 class="text-2xl sm:text-3xl">Skills</h2>
              <p class="text-muted-foreground mb-6 mt-1">Here are some of the skills I use:</p>
            </div>
            <SkillsShowcase skillsData={SKILLS_DATA} />
          </div>
        </>
      )
    }
    <SectionDivider />
    <div class="py-8 pb-10 px-6 sm:px-8">
      <h2 class="text-3xl">Posts</h2>
      <p class="text-muted-foreground mb-6 mt-1">
        Recent {posts.length} blog posts, hoping to be helpful.
      </p>
      <List {posts} {type} heroImageLayout={POSTS_CONFIG.homePageConfig?.heroImageLayout} />
    </div>
  </div>
</Layout>
