---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '@lib/utils'
import PostTag from './ui/PostTag.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
---

<article class="group relative py-8 first:pt-0 border-b border-border/60 last:border-none">
  <div class="flex flex-col gap-4">
    <header class="flex flex-col gap-2">
      <div class="flex items-center gap-3 text-sm text-muted-foreground">
        <time class="flex items-center gap-1.5">
          <span class="icon-[ph--calendar-light] size-3.5"></span>
          {formatDate(post.data.pubDate)}
        </time>
        {
          post.data.updatedDate && (
            <time class="flex items-center gap-1.5">
              <span class="icon-[ph--clock-clockwise-light] size-3.5" />
              {formatDate(post.data.updatedDate)}
            </time>
          )
        }
      </div>

      <a href={`/posts/${post.slug}`} class="group/title">
        <h2 class="text-xl font-medium text-foreground group-hover/title:text-primary transition-colors">
          {post.data.title}
        </h2>
      </a>
    </header>

    {post.data.description && <p class="text-sm text-muted-foreground/80 leading-relaxed">{post.data.description}</p>}

    <footer class="flex items-center justify-between">
      <div class="flex flex-wrap gap-2">
        {post.data.tags?.map((tag) => <PostTag tag={tag} />)}
      </div>

      <a
        href={`/posts/${post.slug}`}
        class="inline-flex items-center gap-1 text-sm font-medium text-foreground/80 hover:text-primary transition-colors group/read"
      >
        Read More
        <span class="icon-[ph--arrow-right-light] size-4 transition-transform group-hover/read:translate-x-1"></span>
      </a>
    </footer>
  </div>
</article>
